.topnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2A2E34;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: auto;
  }

.topnavbaritem {
  margin: 0;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnavbarlistitem{
  height: auto;
  margin: 0;
  padding: 0;
}

.topnavbaritem:hover {
  background-color: #3B3F46;
}