.serverbox {
    margin-top: 40%;
    margin-bottom: 10%;
  }

.serverboxwrapper {
	position: relative;
    width: 100%;
    padding-bottom: 40%;  
    border-radius: 30px 100px;
    background: #213802;
    width: 70%;
    margin: auto;
  }

.serverwrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
}