.serverbox {
    border-radius: 15px 50px;
    background: #213802;
    padding: 20px;
    width: 600px;
    height: 300px;
    margin: auto;
  }

.serverwrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;

}